<a href="https://colab.research.google.com/github/nadgir-praveen/data-science-lab/blob/main/python-tests/CDS7_Python_20231104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
## Collatz Sequence

start with an arbitrary integer; if it is even divide by $2$ else multiply by $3$ and add $1$. The sequence ends in the cycle $4, 2, 1$

So we define the collatz sequence as starting with the given number and ending in $4, 2, 1$.

Write a program to generate the collatz sequence for a given input.

In [ ]:
def next_collatz(n: int) -> int:
    return n // 2 if n % 2 == 0 else 3 * n + 1

In [ ]:
def collatz_sequence(n: int) -> list[int]:
    seq = []
    while n != 4:
        seq.append(n)
        n = next_collatz(n)
    seq.extend([4, 2, 1])
    return seqSo we define the collatz sequence as starting with the given number and ending in 4,2,1.

In [ ]:
print(collatz_sequence(2))

In [ ]:
print(collatz_sequence(3))

In [ ]:
def collatz_sequence_A(n: int) -> list[int]:
    seq = []
    while [4, 2, 1] != seq[-3:]:
        seq.append(n)
        n = next_collatz(n)
    return seq

In [ ]:
print(collatz_sequence_A(7))

In [ ]:
def collatz_sequence_B(n: int) -> list[int]:
    if n == 4:
        return [4, 2, 1]
    else:
        return [n] + collatz_sequence_B(next_collatz(n))

In [ ]:
print(collatz_sequence_B(7))

# Problem 2
## Kaprekar sequence

In [ ]:
def num2digits(n: int) -> list[int]:
    digits = []
    while n > 0:
        #digits.append(n % 10)
        digits.insert(0, n % 10)
        n //= 10
    return digits

In [ ]:
def num_to_digits(n: int) -> list[int]:
    return [int(ch) for ch in str(n)]
# map(int, str(n))

def digits_to_num(ds: list[int]) -> int:
    if len(ds) == 1:
        return ds[-1]
    else:
        return 10 * digits_to_num(ds[:-1]) + ds[-1]

# -------------------------------------------
# int([1, 7, 2, 9]) = int([1, 7, 2]) * 10 + 9
# -------------------------------------------

In [ ]:
num_to_digits(1729)

In [ ]:
digits_to_num(num_to_digits(1729))

In [ ]:
def largest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n), reverse=True))
def smallest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n)))

In [ ]:
largest(1729), smallest(1729)

In [ ]:
def next_kaprekar(n: int) -> int:
    return largest(n) - smallest(n)

In [ ]:
def kaprekar_seq(n: int) -> list[int]:
    seq = []
    while n not in seq:
        seq.append(n)
        n = next_kaprekar(n)
    return seq

In [ ]:
def kaprekar_seq_rec(n: int) -> list[int]:
    if n == next_kaprekar(n):
        return [n]
    else:
        return [n] + kaprekar_seq_rec(next_kaprekar(n))

In [ ]:
kaprekar_seq_rec(1729)

# Ternary expression in Python
## truevalue **if** condition **else** falsevalue

In [ ]:
sorted(str(1729))

In [ ]:
def biggest(n: int) -> int:
    return int(''.join(sorted(str(n), reverse=True)))

In [ ]:
biggest(1729)

# Problem 3
# FizzBuzz

In [ ]:
def fizzbuzz_A(n: int)-> str:
    if n % 3 == 0 and n % 5 == 0:
        return "FIZZBUZZ"
    elif n % 3 == 0:
        return "FIZZ"
    elif n % 5 == 0:
        return "BUZZ"
    else:
        return str(n)

In [ ]:
def fb_seq(limit: int) -> list[str]:
    return [fizzbuzz(k) for k in range(1, limit+1)]

In [ ]:
def fizzbuzz_B(n: int) -> str:
    out = ''
    if n % 3 == 0:
        out += "FIZZ"
    if n % 5 == 0:
        out += "BUZZ"
    return str(n) if out == '' else out

In [ ]:
def fizzbuzz_C(n: int) -> str:
    fbs = ["FIZZBUZZ", "", "", "FIZZ", "", "BUZZ", "FIZZ", "", "",
           "FIZZ", "BUZZ", "", "FIZZ", "", ""]
    pos = n % 15
    return str(n) if fbs[pos] == "" else fbs[pos]

In [ ]:
fizzbuzz = fizzbuzz_C

In [ ]:
fb_seq(15)

In [ ]:
def fizzbuzz_fbd(n: int) -> str:
    out = ''
    if n % 3 == 0:
        out += "FIZZ"
    if n % 5 == 0:
        out += "BUZZ"
    if n % 7 == 0:
        out += "DASH"
    return str(n) if out == '' else out

In [ ]:
fizzbuzz = fizzbuzz_fbd

In [ ]:
[x if len(x) >= 4 else '' for x in fb_seq(105)]

In [ ]:
def fizzbuzz_D(n: int) -> str:
    fbs = {(True, True)   : "FIZZBUZZ",
           (True, False)  : "BUZZ",
           (False, True)  : "FIZZ",
           (False, False) : str(n)}
    return fbs[(n % 5 == 0, n % 3 == 0)]

In [ ]:
# binary 11 => decimal ?

# abc => 100 * a + 10 * b + c
# pqr => 4   * p + 2 * q + r

In [ ]:
def fizzbuzzdash_D(n: int) -> str:
    fbs = {(True, True, True)   : "FIZZBUZZDASH"}
           # plus 7 more

In [ ]:
def bad_type_hint(n: int) -> int:
    return "I dont care about types"

In [ ]:
bad_type_hint(4.5)

In [ ]:
def no_hint(x, y):
    return 42

In [ ]:
def pick(n: int) -> int:
    return 2 * int(n % 5 == 0) + int(n % 3 == 0)
#   return 4 * int(n % 7 == 0) + 2 * int(n % 5 == 0) + int(n % 3 == 0)

def fizzbuzz_E(n: int) -> str:
    return [str(n), "FIZZ", "BUZZ", "FIZZBUZZ"][pick(n)]

#def fizzbuzz_E(n: int) -> str:
#    fbs = [str(n), "FIZZ", "BUZZ", "FIZZBUZZ"]
#    return fbs[pick(n)]

In [ ]:
def fizzbuzz_F(n: int, fbs: dict) -> str:
    fb = ''
    for divisor in fbs:
        if n % divisor == 0:
            fb += fbs[divisor]
    return str(n) if fb == '' else fb

# fbs = {3: "FIZZ", 5: "BUZZ", 7: "DASH"}

In [ ]:
def fizzbuzz_all(limit: int) -> list[str]:
    fbs = [str(n) for n in range(limit)]
    print(fbs)
    fbs[3:limit:3] = ["FIZZ"] * len(fbs[3:limit:3])
    print(fbs)
    fbs[5:limit:5] = ["BUZZ"] * len(fbs[5:limit:5])
    print(fbs)
    fbs[15:limit:15] = ["FIZZBUZZ"] * len(fbs[15:limit:15])
    return fbs[1:]

In [ ]:
fizzbuzz_all(16)

In [ ]:
a, b, c = 1, 4, "Hello"

In [ ]:
aa = [1, 2, 3, 4, 5, 6]

In [ ]:
aa[::2]

In [ ]:
aa[::2] = ["Slices", "Are", "Assignable"]

In [ ]:
aa

In [ ]:
aa[::2] = [6]

# Problem 4
# Refactor/improve this code

In [ ]:
def myfunc(a):
    empty=[]
    for i in range(len(a)):
        if i%2==0:
            empty.append(a[i].upper())
        else:
            empty.append(a[i].lower())

    return "".join(empty)

In [ ]:
def alternate_case(s: str) -> str:
    apply = [str.upper, str.lower]
    return ''.join([apply[i % 2](ch) for i, ch in enumerate(s)])

In [ ]:

#return ''.join([[str.upper, str.lower][i % 2](ch) for i, ch in enumerate(s)])

In [ ]:
def alt_case(s: str) -> str:
    all_chars = list(s.lower())
    all_chars[::2] = s[::2].upper()
    return ''.join(all_chars)

In [ ]:
alt_case("hello world")

In [ ]:
"abcdefghijklmnopqrstuvwxyz"[::2]

# Problem 6
# Given a date string of the form "dd mon yyyy" return the 7-digit integer yyyyddd.

## Examples
## "17 Jan 2004"  $ \Rightarrow 2004017$
## "24 JULY, 1996" $ \Rightarrow 1996206$

## "1 Mar 2004" $\Rightarrow 2004061$

## "1 March, 1999" $\Rightarrow 1999060$
1. The components may be separated by COMMA or SPACE or COMMA followed by a SPACE.

2. The first separator and the second separator need not be the same

3. The month name may be in upper case, capitalised or lower case

4. The month name may be full or partial -- at least 3-characters

31, 28, 31, 30,

In [ ]:
COMMA, SPACE = ',', ' '
def is_leap(yyyy: int) -> bool:
    if yyyy % 100 == 0:
        return yyyy % 400 == 0
    else:
        return yyyy % 4 == 0

def julian(s: str) -> int:
    days_upto_ordy = {"JAN": 0, "FEB": 31,"MAR": 59, "APR": 90,
                      "MAY": 120,"JUN": 151, "JUL": 181, "AUG": 212,
                      "SEP": 243, "OCT": 273, "NOV": 304, "DEC": 334}
    days_upto_leap = {"JAN": 0, "FEB": 31,"MAR": 60, "APR": 91,
                      "MAY": 121,"JUN": 152, "JUL": 182, "AUG": 213,
                      "SEP": 244, "OCT": 274, "NOV": 305, "DEC": 335}
    sdd, smon, syyyy = s.replace(COMMA, SPACE).split()
    dd = int(sdd)
    mon = smon.upper()[:3]
    yyyy = int(syyyy)
    days_upto = days_upto_leap if is_leap(yyyy) else days_upto_ordy
    return yyyy * 1000 + dd + days_upto[mon]

In [ ]:
"a b  \n  c".split()

In [ ]:
"a b  \n  c".split(' ')