<a href="https://colab.research.google.com/github/nadgir-praveen/data-science-lab/blob/main/python-tests/date_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 6
Given a date string of the form "dd mon yyyy" return the 7-digit integer yyyyddd.
Examples
"17 Jan 2004"  ⇒2004017
"24 JULY, 1996"  ⇒1996206
"1 Mar 2004"  ⇒2004061
"1 March, 1999"  ⇒1999060
The components may be separated by COMMA or SPACE or COMMA followed by a SPACE.

The first separator and the second separator need not be the same

The month name may be in upper case, capitalised or lower case

The month name may be full or partial -- at least 3-characters

In [29]:
def process_date(dates):
    # year = dates[-4:]
    # date = dates[:2] if dates[1].isdigit() else dates[0]

    # month = dates[2 if dates[1].isdigit() else 1::3]
    # print(month)
    sdate, smon, syear = dates.replace(',', ' ').split()
    date = int(sdate)
    month = smon.upper()[:3]
    yyyy = int(syear)
    print(date, month, yyyy)

process_date("10 , Mar 2004")

10 MAR 2004

In [30]:
COMMA, SPACE = ',', ' '
def is_leap(yyyy: int) -> bool:
    if yyyy % 100 == 0:
        return yyyy % 400 == 0
    else:
        return yyyy % 4 == 0

def julian(s: str) -> int:
    days_upto_ordy = {"JAN": 0, "FEB": 31,"MAR": 59, "APR": 90,
                      "MAY": 120,"JUN": 151, "JUL": 181, "AUG": 212,
                      "SEP": 243, "OCT": 273, "NOV": 304, "DEC": 334}
    days_upto_leap = {"JAN": 0, "FEB": 31,"MAR": 60, "APR": 91,
                      "MAY": 121,"JUN": 152, "JUL": 182, "AUG": 213,
                      "SEP": 244, "OCT": 274, "NOV": 305, "DEC": 335}
    sdd, smon, syyyy = s.replace(COMMA, SPACE).split()
    dd = int(sdd)
    mon = smon.upper()[:3]
    yyyy = int(syyyy)
    days_upto = days_upto_leap if is_leap(yyyy) else days_upto_ordy
    return yyyy * 1000 + dd + days_upto[mon]

In [31]:
julian("1 March, 1999")

1999060