<a href="https://colab.research.google.com/github/nadgir-praveen/data-science-lab/blob/main/python-tests/Euler_problem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Euler Problem 1:

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
max_num = 1000

def add(num, i=1, x=0):
  if num*i < max_num:
    x = add(num, i+1, x+num*i)
  return x
print("sum is {}".format(add(3)+add(5)))

sum is 266333

In [3]:
sum = lambda num=3, i=1, x=0 : sum(num, i+1, x+num*i) if num*i < 1000 else x
print(sum(3)+sum(5))

266333