<a href="https://colab.research.google.com/github/nadgir-praveen/data-science-lab/blob/main/python-tests/PNB_10_Higher_Order_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

# Objective

At the end of this practice notebook, you will be able to understand:
* [map](https://docs.python.org/3.7/library/functions.html#map)
* [filter](https://docs.python.org/3.7/library/functions.html#filter)
* [reduce](https://docs.python.org/3.7/library/functools.html)
* [zip](https://docs.python.org/3.7/library/functions.html#zip)
* [lambda](https://docs.python.org/3.7/tutorial/controlflow.html)

# Introduction:
Functions that operate on other functions, either by taking them as arguments or by returning them, are called higher-order functions. We can use this function for elements of sequences, in order to reduce the time of explicit loop. We use them as they can simplify our code, execute the loop and iterations in a simple, elegant and efficient way.

## map()
The map() function returns an iterator that applies a function to every item of an iterable, yielding the results.

* map() function syntax: `map(func, iterable)`
* parameter: `func` is an function that `map()` pass to the every elements in the `iterable` object, the `iterable` is an object that has `__iter__` attribute, so every elements can execute the `func`
* return value: a `map` object


Let us see an example:
Assume we have a `list` that contain 1 - 10 digits, we want to add 2 to every number.

In [ ]:
#Without `map()` function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0, len(numbers)):
    numbers[i] += 2
print(numbers)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
#Or again, without `map()` function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# create empty list
result = []
for n in numbers:
    result.append(n+2)
print(result)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

With the `map()` function:

In [ ]:
def add_two(n):
    return n+2

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = map(add_two, numbers)
print(result)
print(type(result))
print(list(result))

<map object at 0x7c3cc1384760>
<class 'map'>
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Notice that with `map()`, we have achieved our purpose by not using loop, meanwhile, the code is written in an elegent and simple way.
The `map()` function returned a `map` object. If we use use this object in  future, this object type will help us to save the memory utilization. Below, we use the `getsizeof()` function from `sys` to see the memory utilization of each object, `map` object and `list`

In [ ]:
from sys import getsizeof
print(f'The size of map object in memory is {getsizeof(result)} bytes')
print(f'Convert it into list: {getsizeof(list(result))} bytes')

The size of map object in memory is 48 bytes
Convert it into list: 56 bytes

The requirement of object passed in `map()` function is `iterable` so as long as the object has attribute of `__iter__` it works, not only `list`, but also `tuple`, such as:

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"Is tuple numbers iterable? Answer: {hasattr(numbers, '__iter__')}")

result = map(add_two, numbers)
print(result)
print(type(result))
print(tuple(result))

Is tuple numbers iterable? Answer: True
<map object at 0x7c3cc1385780>
<class 'map'>
(3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

Notice that in order to achieve this, we need to create a function called `add_two(n)`? and it simply returns `n+2`, possible to reduce this further?  Yes, we can use `lambda`

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
result = map(lambda x: x + 2, numbers)
print(tuple(result))

(3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

Besides using defined function or `lambda` function to execute the iterable, we also can utilize Python bulit-in function, built-in type to execute the iterable, as shown below:

In [ ]:
# list of strings
words = ['Delhi', 'Chennai', 'Hyderabad']

# convert every element into a List
converted = list(map(list, words))
print(converted)
print(f"The type of converted: {type(converted)}")
print(f"The length of converted: {len(converted)}")

[['D', 'e', 'l', 'h', 'i'], ['C', 'h', 'e', 'n', 'n', 'a', 'i'], ['H', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd']]
The type of converted: <class 'list'>
The length of converted: 3

`words` is a list that contains `string` type of elements. We have used `map()` and Python bulit-in `list` to convert every element in `words` into List

## filter()

`filter()` function uses a function to "filter" the sequence, the function examines if every element in the sequence is `True` or `False`

* `filter()` syntax: `filter(func, iterable)`
* Parameter: `func` test iterable sequances' elements is `True` or `False`, `iterable` is the iterable sequances that been filter
* Return value: an iterable sequance that every elements is `True` to the filter function `func`

Layman term: `filter()` is to filter a set of data based on the given conditions

Example:

In [ ]:
# filter vowel
def func(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable.lower() in letters):
        return True
    else:
        return False

# given sequence
sequence = ['i', 'l', 'o', 'v', 'E', 'p', 'y', 't', 'h', 'o', 'n']

filtered = list(filter(func, sequence))
print(f"The vowel in the sequence is {filtered}")

The vowel in the sequence is ['i', 'o', 'E', 'o']

Above we created a method to extract the vowels from a given sequence, the given sequence is `List`, so it has `'__iter__'`. Apply it to `filter()` to extract the vowel.

Here we have another example:

In [ ]:
# positive or negative number
def positive(num):
    if num > 0:
        return True
    else:
        return False

# odd or even number
def even_number(num):
    if num % 2 == 0:
        return True
    else:
        return False

numbers = [3, -3, 7, -20, 13, 22, 40]
positive_number = list(filter(positive, numbers))
even_number = list(filter(even_number, numbers))

print(f"The positive number is: {positive_number}.")
print(f"The even number is {even_number}.")

The positive number is: [3, 7, 13, 22, 40].
The even number is [-20, 22, 40].

So, to use `filter()`,

1. define a method that can filter as `True` or `False`
2. apply it to an iterable object
3. integrate it into your bigger code block

Now let's see how to use `lambda` with filter:

In [ ]:
numbers = [3, -3, 7, -20, 13, 22, 40]

# positive number
positive_number = filter(lambda x: x > 0, numbers)
print(f"The positive number is {list(positive_number)}.")

# even number
even_number = filter(lambda x: x % 2 == 0, numbers)
print(f"The even number is {list(even_number)}.")

The positive number is [3, 7, 13, 22, 40].
The even number is [-20, 22, 40].

## Reduce()

`reduce()` is very useful built-in function, it can execute iterable object's computation and return the result. It can compute rolling continuous values in an iterable sequence, such as cumulative product of integer list, or cumulative sum.

* Syntax: `reduce(func, iterable)`
* Parameter: `func`: a method to execute on each element of the iterable object, last result is the new parameter of next execution.
* Return value: the `func` return value

In Python 3, `reduce()` moved to `functools` module, so before we use it, we need to `import` it from `functools`

Example:

In [ ]:
from functools import reduce

def do_product(num1, num2):
    return num1 * num2

print(f"The product of 3, 4, 5 is: {reduce(do_product, [3, 4, 5])}.")

The product of 3, 4, 5 is: 60.

In [ ]:
#using lambda with reduce()

print(f"The product of 3, 4, 5 is: {reduce(lambda x, y: x*y, [3, 4, 5])}.")

The product of 3, 4, 5 is: 60.

## zip()

`zip()` function zips multiple `iterable` objects together, and "packs" it as one single object, mapping with similar index.

* Syntax: `zip(*iterators)`
* Parameter: `iterators` is `iterable` object, such as `List`, `String`
* Return value: Single iterator object, containing index value from the packed object.

Example:

In [ ]:
keys = ['car', 'model']
values = ['Hyundai', 'i20']

car_dict = dict(zip(keys, values))
print(car_dict)

{'car': 'Hyundai', 'model': 'i20'}

`zip()`also supports multiple objects:

In [ ]:
name = ['Ganesh', 'Hitesh', 'Yograj']
age = ['22', '23', '24']
subject = ['statistics', 'calculus', 'probability']

mapped_values = list(zip(name, age, subject))
print(mapped_values)

[('Ganesh', '22', 'statistics'), ('Hitesh', '23', 'calculus'), ('Yograj', '24', 'probability')]

We can use the `zip()` function to easily pack the values that have same index from 3 lists. How can unpacking be done?

Just similar to unpank tuple, we add the `*` to the object that we want to unpack

In [ ]:
name, age, subject = zip(*mapped_values)
print(f"The name is {name}")
print(f"The age is {age}")
print(f"The subject is {subject}")

The name is ('Ganesh', 'Hitesh', 'Yograj')
The age is ('22', '23', '24')
The subject is ('statistics', 'calculus', 'probability')

## lambda()

While normal functions are defined using the `def` keyword, in Python anonymous functions are defined using the `lambda` keyword. Hence, anonymous functions are also called lambda functions.

> `Lambda` function can use any quantity of parameter, but only have one expression

* Syntax: lambda argument: manipulate(argument)
* Parameter: argument is passing the parameter. After `:` is the manipulation

Example:

In [ ]:
add_two = lambda x: x+2
add_sum = lambda x, y: x+y

print(add_two(2))
print(add_sum(3, 3))

4
6

Normally we use `lambda` function along with other built-in function or `def` function, as shown above, with `map()`, `filter()`, `reduce()` and `zip()` functions.

Let's see one more example of `lambda` interacting with `dict`

In [ ]:
university = [{'name': 'IISc',
               'city': 'Bengaluru'},
              {'name': 'Washington University',
               'city': "St. Louis"}]

names = list(map(lambda x: x['name'], university))
print(names)

['IISc', 'Washington University']

Note that `lambda` functions do not have function names. So in the case of code transfer and project migration, it may bring difficulties to the team. It is advisable to write a function `add_two()`, because it is easy for everyone to understand and know that it is a function of performing `+2`. In a team, using lambda may confuse people.